@page "/counter"

@using System;
@using System.Diagnostics;
@using System.Collections.Generic;
@using System.Linq;
@using CT.BusinessLogic.Interfaces;
@using CT.BusinessLogic.Entities;

@inject ICanMessageComposer CanMessageComposer
@inject IHandler Handler

<h1>Data</h1>


@foreach (KeyValuePair<Data.CAN_properties, string> entry in Data.aData)
{
    <p>@entry.Key = @entry.Value</p>
    // do something with entry.Value or entry.Key
}

<button class="btn btn-primary" @onclick="Test">Test</button>
<button class="btn btn-primary" @onclick="Test1">Test</button>
<button class="btn btn-primary" @onclick="Test2">Test</button>

@code{
    public string Can_1 = "77E 05 62 22 0D 00 65 AA AA\n";

    public void Test()
    {
        CanMessage can_message = CanMessageComposer.Compose(Can_1);
        var result = Handler.Handle(can_message);
    }
    public void Test1()
    {
        Can_1 = "77E 05 62 22 0D 55 65 AA AA\n";
        CanMessage can_message = CanMessageComposer.Compose(Can_1);
        can_message = CanMessageComposer.Compose(Can_1);
        var result = Handler.Handle(can_message);
    }
    public void Test2()
    {
        Can_1 = "77E 05 62 22 0D 44 65 AA AA\n";
        CanMessage can_message = CanMessageComposer.Compose(Can_1);
        can_message = CanMessageComposer.Compose(Can_1);
        var result = Handler.Handle(can_message);
    }


}
