.icon-top {
    width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.size-box{
    height: 50px;
}

.night-time-icon {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.top-data {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.icons-container {
    width: 100px;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.car {
    position: relative;
    width: 286px;
    height: 362px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

.car-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left_front_light, .left_back_light, .right_front_light, .right_back_light {
    display: block;
    position: absolute;
    top: 42%;
}

.left_front_light {
    display: block;
    top: 0px;
    left: 72px;
}

.left_back_light {
    display: block;
    top: 316px;
    left: 62px;
}

.right_front_light {
    display: block;
    top: 0px;
    left: 164px;
}

.right_back_light {
    display: block;
    top: 316px;
    left: 172px;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.blink {
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}


.left_front, .right_front, .left_back, .right_back {
    display: block;
    position: absolute;
    top: 42%;
}

.Open_left_animation {
    animation: door_open_left 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, 0, infinite;
}

.Open_right_animation {
    animation: door_open_right 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, 0, infinite;
}

.Close_left_animation {
    animation: door_close_left 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, 0, infinite;
}

.Close_right_animation {
    animation: door_close_right 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, 0, infinite;
}

.left_front {
    display: block;
    top: 118px;
    left: 62px;
}

.right_front {
    display: block;
    top: 118px;
    left: 190px;
}

.left_back {
    display: block;
    top: 197px;
    left: 66px;
}

.right_back {
    display: block;
    top: 198px;
    left: 187px;
}

@keyframes door_open_left {
    from {
        transform: rotateZ(0deg);
        transform-origin: top;
    }

    to {
        transform: rotateZ(80deg);
        transform-origin: top;
    }
}

@keyframes door_close_left {
    from {
        transform: rotateZ(80deg);
        transform-origin: top;
    }

    to {
        transform: rotateZ(0deg);
        transform-origin: top;
    }
}

@keyframes door_open_right {
    0% {
        transform: rotateZ(0deg);
        transform-origin: top;
    }

    100% {
        transform: rotateZ(-80deg);
        transform-origin: top;
    }
}

@keyframes door_close_right {
    0% {
        transform: rotateZ(-80deg);
        transform-origin: top;
    }

    100% {
        transform: rotateZ(0deg);
        transform-origin: top;
    }
}
