@page "/"

@using System.Threading;
@using car_telemetry.Data
@inject SerialService _readSerialPortService

<h1>Hello, world!</h1>

@*TODO: add serial port selection(COM2 or COM3...)*@

<h3>Serial ports says:</h3>

<div class="scale-monitor">
    <div class="digital-monitor net-weight grid-line" @onclick="GetValue">
        <div class="digital-monitor-center net-center">@ScaleValue</div>
    </div>
</div>


@code {
    private int Count { get; set; } = 100;
    Timer _updateTimer;
    public string ScaleValue { get; set; } = "0.000";

    protected override async Task OnInitializedAsync()
    {
        ScaleValue = await _readSerialPortService.GetSerialValue();
        _updateTimer = new Timer(state => { InvokeAsync(GetValue); }, null, 0, 100);
    }


    public async Task GetValue()
    {
        ScaleValue = await _readSerialPortService.GetSerialValue();
        await InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        _updateTimer.Dispose();
    }
}