@page "/"

@using System.IO.Ports;
@using System.Diagnostics;
@using System.Threading;
@using car_telemetry.Data
@inject SerialService _readSerialPortService

<h1>Hello, world!</h1>

<h3>Serial ports says:</h3>
<p>Temporary</p>

<head>
    <title>Main Scale Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/all.css" rel="stylesheet">
    <link href="/css/stylesheet.css" rel="stylesheet">
</head>

<div class="scale-monitor">
    <div class="digital-monitor net-weight grid-line" @onclick="GetValue">
        <div class="digital-monitor-center net-center">@ScaleValue</div>
    </div>
</div>


@code {
    private int Count { get; set; } = 100;
    Timer _updateTimer;
    public string ScaleValue { get; set; } = "0.000";

    protected override async Task OnInitializedAsync()
    {
        ScaleValue = await _readSerialPortService.GetSerialValue();
        _updateTimer = new Timer(state => { InvokeAsync(GetValue); }, null, 0, 100);
    }


    public async Task GetValue()
    {
        ScaleValue = await _readSerialPortService.GetSerialValue();
        await InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        _updateTimer.Dispose();
    }
}